
{% include ur.html method=include.method %}

Example :
```c#
private UR ur;

private void Start() {
  ur = new UR(); // Create a new UR instance
  ur.Connect("192.168.0.1"); // Connect to the robot
  // ...

  // Call the command
  var response = ur.{{ member.source.id }}({{ include.arg1 }});
  
  if(response.Succeed) Console.WriteLine("Succeed");
  else Console.WriteLine("Command failed");
  
  Console.WriteLine(response.Message);
  {% if include.value %}
  // Get returned value
  {{ include.value }} = response.Value;{% endif %}
}
```
